html(lang="en")
  head
    title= SOS
  body
    #container
      form(method="post")
        table
          tr
            td
              label(for="name") Your name:
            td
              input(type="text" name="name")
          tr
            td
              label(for="content") Content:
            td
              textarea(name="content", cols="30", rows="10")
          tr
            td
              input(type="submit" value="submit")
